@use "@/variables.scss" as *;
.contact-us-page {
  .banner {
    background-color: #cbaacf;
    padding: 3.75rem 0.938rem 1.875rem;
    h3 {
      margin-top: 5vh;
      color: $imm-white;
      font-size: 3em;
      font-weight: bold;
      position: relative;
    }
  }
  .contact-form-wrapper {
    background-color: #edf0f2;
    .section-heading {
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        margin: 0.625rem auto;
        width: 10%;
        height: 0.1em;
        background: $secondary-color;
      }
    }

    .contact-address {
      padding: 2.5rem;
      height: 100%;
      background-color: $imm-white;

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
          padding-top: 1.25rem;
          list-style: none;
        }
      }

      .single-address {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .icon {
          display: block;
          width: 3.125rem;
          line-height: 3.125rem;
          border-radius: 50%;
          border: 1px solid $primary-color;
          color: $primary-color;
          text-align: center;
          img {
            object-fit: contain;
          }
        }

        .cont {
          padding-left: 1.25rem;
          a {
            text-decoration: none;
          }
        }
        p {
          margin: 0;
        }
      }
    }
    .contact-form {
      background-color: $palette-pure-white;
      padding: 2.5rem;

      .btn-send {
        background-color: #8f479b;
        color: #fdfdfd;
        padding: 0.625rem 1.875rem;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
      }
    }
  }
}
