$palette-pure-white: #fff;

$palette-main-black: #262626;

$palette-pink: #d88284;

$primary-color: #8f479b;
$secondary-color: #02e496;
$secondary-color--light: #68c5a8;
$accent-color: #d88284;
$imm-black: #1f1f1f;
$imm-white: #fdfdfd;
